@{notranslate}
@{nocompress html}

<!-- ALL CMS CONTENT (FOR EDITOR) MUST BE WRAPPED IN <div id="CMS"> -->
<div class="postdetail">
	<div id="CMS">
		@{if repository.page && repository.page.body}
			<div class="CMS_widgets" data-cms-category="Content,Columns">
	<div class="CMS_widget CMS_remove" data-cms-id="qgzpf280yg" data-cms-widget="18040114520003png1">
		<div class="wm wp wb wc135">
			<h1 class="CMS_edit"><b>Lorem ipsum</b> sodal</h1>
		</div>
	</div>
	<div class="CMS_widget CMS_remove" data-cms-id="rnj2gq3q8p" data-cms-widget="18040117430002png0">
		<div class="wm wb wc106">
			<div class="row">
				<div class="col-sm-6 wc106body CMS_widgets col-sm-push-6" data-cms-category="Inline">
					<div class="wmi wpi">
						<p class="CMS_edit wc106p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, magni? Tempora sunt debitis ullam sequi, inventore maiores ea nihil impedit distinctio quas. Cupiditate, in, rem!</p>
					</div>
				</div>
				<div class="col-sm-6 col-sm-pull-6 wc106image">
					<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAiYAAAD6AQMAAACvYx54AAAAA1BMVEXW1taWrGEgAAAAJ0lEQVR4Ae3BAQ0AAADCIPuntscHDAAAAAAAAAAAAAAAAAAAAABIOkRcAAGV9dofAAAAAElFTkSuQmCC" class="img-responsive CMS_edit" alt="" border="0">
				</div>
			</div>
		</div>
	</div>
</div>
			@{!repository.page.body}
		@{else}
			<div class="image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA1IAAAEsAQMAAADzXxDcAAAAA1BMVEWpqamhHEfZAAAANklEQVR4Xu3AMQEAAADCIPuntsYOWBIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB36QAAFcj3CiAAAAAElFTkSuQmCC" class="CMS_edit img-responsive" data-cms-width="850" data-cms-height="300" alt="" /></div>
			<h1 class="CMS_edit CMS_search">Lorem ipsum dolor sit amet</h1>
			<div class="CMS_widgets content" data-cms-category="Content,Columns">

			</div>
		@{fi}
	</div>
</div>